@import '../../../globalStyles.css';
.input{
    height: 32px;
    padding: 0 .5rem;
    border: 1px solid var(--border)
}

.danger, .danger:focus, .danger:active {
    border: 1px solid var(--danger);
}

.large{
    min-width: 200px;
}