@import '../../globalStyles.css';
.container{
    display: flex;
    flex-direction: column;
}
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 100%);
    padding: .5rem;
    border-bottom: 1px solid var(--border);
    align-items: center;
}

.grid > * {
    margin-bottom: 1rem;
}

.grid-children{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: .5rem 1rem;
    border-bottom: 1px solid var(--border-darker);
}

.editable-span-align-right{
    text-align: right;
}

.grid.table-head > *{
    cursor: pointer;
}

.phone-small{
    max-width: 100px;
}

.add-panel{
    padding: 1rem;
}
.add-panel > *{
    margin:.5rem
}

.add-customer{
    display: flex;
    align-items: center;
    margin: 1rem;
    justify-content: center;
    flex-wrap: wrap;
}
.add-customer button{
    margin-top: .5rem;
}

.actions{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}
.actions > * {
    margin: 0 .5rem;
}

@media(min-width: 672px) {
    .grid {
        grid-template-columns: repeat(auto-fill, 25%);
    }
    .grid > * {
        margin-bottom: 0;
    }
    .grid-children{
        justify-content: center;
        margin: .5rem;
        border-bottom: none;
    }
    .actions{
        justify-content: flex-end;
        margin-top: 0;
    }
    .add-panel > *{
        margin: 0 .5rem;
    }
    .editable-span-align-right{
        text-align: center;
    }
    .add-customer button{
        margin-top: 0
    }
    .phone-small{
        max-width: 100%
    }
}

@media(min-width: 476px) {
    .add-customer{
        justify-content: space-between;
    }
}