@import '../../globalStyles.css';
.container{
    display: flex;
    flex-direction: column;
}
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 100%);
    padding: .5rem;
    border-bottom: 1px solid var(--border);
    align-items: center;
}

.grid.header > * {
    padding: .5rem;
}

.add-panel{
    padding: 1rem;
}
.add-panel input{
    margin: 0 .5rem;
}

.add-customer{
    display: flex;
    align-items: center;
    margin: 1rem;
    justify-content: center;
    flex-wrap: wrap;
}

.actions{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}
.actions > * {
    margin: 0 .5rem;
}

@media(min-width: 672px) {
    .grid {
        grid-template-columns: repeat(auto-fill, 25%);
    }
    .actions{
        justify-content: flex-end;
        margin-top: 0;
    }
}

@media(min-width: 476px) {
    .add-customer{
        justify-content: space-between;
    }
}