
:root {
    --border: #DCE2E4;
    --text-primary: #323638;
    --text-secondary: #64686A;
    --txt-white: white;
    --txt-dark:#DCE0E2;

    --bg-primary: #F6FAFC;
    --bg-white: white;
    --bg-dark: #323638;
    --bg-darker: #312527;

    --danger: #d9534f;
    --success: #5cb85c;
    --warning: #f0ad4e;
    --primary: #0275d8;
    --info:#2196F3;
    --primary-hover: #1386e9;
    --danger-hover: #ea645f;
    --success-hover:#179620;
    --info-hover:#32a7F4;
}